ul{
  list-style-type: none;
  display : flex; 
  width : 100%;
  justify-content : center;
  align-items: center;
}

li{ 
  padding : .2rem 1.5rem;
}

a{
  color : #3949ab;
}

a:hover, a:active{
  color: #1a237e;
}
