.container{
  margin : 3rem auto !important;
}

.grid{
  margin-bottom: 1rem !important;
}

.title{
  font-size : 1.2rem !important;
  font-weight : 700 !important; 
  text-transform: uppercase;
}

.confirmed{
  border-bottom : 5px solid rgba(100,100,100,.8);
}

.deaths{
  border-bottom: 5px solid rgba(255,0,0,.8);
}

.recovered{
  border-bottom : 5px solid rgba(0,255,0,.8);
}

.text_recovered{
  color : rgba(0,255,50,.8);
  font-weight : 700 !important;
}
.title{  
  font-size : 1.5em !important;
}

.subtitle{
  font-size: 2.5em !important;
}

.sub_deaths{
  color: rgba(150,150,150);
  font-weight: 700 !important;
}
.card{
  padding : 1rem 2rem;
}

@media (max-width:1281px) {
  .card {
    width : 600px !important;
    padding : 3rem 4rem;
  }
}


@media (max-width :992px){
  .card{
    width : 500px !important;
    padding : 3rem 4rem;
  }
}

@media (max-width:767px ){
  .card{
    width : 400px !important;
    padding : 3rem 4rem;
  }
}

@media (max-width:500px){
  .card{
    width : 90% !important ;
    text-align: center;  
    padding : 2.5rem 3.5rem;  
  }
  .grid{
    margin-bottom: .15rem !important;
  }
}



@media (max-width: 1280px)and (min-width: 961px){
  .card{
    width : 600px;
    padding : 3rem 4rem;
  }
}

