:root {
  font-size : 16px;
}

.header{
  height: 80vh; 
  width : 100vw;
  margin :0 auto 3rem auto;
  clip-path: ellipse(73% 79% at 47% 20%);
  position :relative; 
}

.video{
  position : absolute;
  filter : opacity(85%);
  width : 100%;
  overflow: hidden;
  z-index: -1;
}

.title{  
  color : rgba(240,240,240);
  text-transform: uppercase;  
}

.main{
  font-size : 4em;  
  margin-left :5%;
  float : left; 
  margin-bottom : 2rem;
}


.sub{
  font-size : 3.5em;   
  margin-right : 5%;
  float : right;
}

@keyframes sub-title{
  0%{
    transform: translateX(20rem);
    opacity : 0;
  }
  70%{
    transform: translateX(-5rem);
    opacity: .7;
  }
  100%{
    transform: translateX(0);
    opacity : 1
  }
}
@media (max-width:767px){ 
  .header{
    height: 60vh;
    width : 100%;
  }
  .title{
    width :100%;
    height : 100%;   
    text-align: center;
    display : flex ; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main{    
    font-size : 2.5em;
    margin : 0;
  }
  .sub{   
    font-size : 2em;
    margin : 0;
  }
}

@media (max-width:500px){
  :root{
    font-size : 12px;
  }
  .title{
    text-align: center;
    margin-top : 0rem;
    padding-top : 1rem;        
  }
  .header{
    height: 37vh;
    width : 100%;
  }
  .title{
    width :100%;
    height : 100%;
    display : flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
  }
  .main{    
    font-size : 2.5em;
    margin : 0;
  }
  .sub{   
    font-size : 1.75em;
    margin : 0;
  }
}

@media (min-width: 768px){
  .title{
    width :100%;
    height : 100%;  
    text-align: center;
    margin-top : 0rem;
    padding-top : 1rem;   
    position :absolute ;
    top : 20%; 
  }
  .header{
    height: 70vh;
    width : 100%;
  }
  .main{    
    font-size : 2.5em;    
  }
  .sub{   
    font-size : 2em;   
  }
}

@media (min-width: 992px){
  
  .header{
    height: 75vh;
    width : 100%;
  }
  .title{  
    display : flex ; 
    flex-direction: column;
    align-items: center;
    justify-content : center;
    position: absolute;
    top : 0;
  }
  .main{    
    font-size : 3em; 
    align-self: flex-start;   
  }
  .sub{   
    font-size : 2.5em;   
    align-self: flex-end;
  }
}

@media (min-width: 1280px){
  
  .header{
    height: 75vh;
    width : 100%;
  }
  .title{  
    display : flex ; 
    flex-direction: column;
    align-items: center;
    justify-content : center;
    position: absolute;
    top : 0;
  }
  .main{    
    font-size : 4em; 
    align-self: flex-start;   
  }
  .sub{   
    font-size : 3.5em;   
    align-self: flex-end;
  }
}
