.container{
  display : flex;
  width : 100%;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  text-align: center;
}

.title{
  font-size : 1.5em;
  font-weight : 700;
  color  : rgba(0,0,0,.6);
}

.subtitle{
  font-size : 1em;
  font-weight : 700;
  color  : rgba(0,0,0,.6);
}

.content{
  display : inline-block;    
  line-height: 1.8;  
}

.content > div{
  display : flex;
  justify-content: space-around;
  /* text-align :left; */
  color: rgba(0,0,0,.6);
  font-weight :600;
}

content > div > span:first-child{
  text-align:right;
}
content > div > span:last-child{
  text-align:left;
}

.new_confirmed, .new_deaths, .new_recovered{
  text-align : right;
  float : right;
}

.new_confirmed{
  color : rgba(0,0,255,.8);
}

.new_recovered{
  color : rgba(0,255,0,.8);
}

.new_deaths{
  color: rgba(255,0,0,.8);
}

@media (min-width: 768px) {
  .card{
    width: 40%;   
    margin-bottom: 5rem;
  }
}

@media (max-width:767px){
  .card{
    width : 80%;    
  }
  .content{
    width : 50%;
  }
  .chart{
    width: 100%;
    height: 200px;
  }
}

@media (max-width:500px){
  .card{
    width : 90%;
    margin-bottom: 2rem;
  }
  .content{
    width : 80%;
  }
  .chart{
    width: 100%;
    height: 150px;
  }
}


@media (min-width : 768px){
  .content {
    width : 60%;
  }
  .chart{
    width: 100%;
    height: 250px;
  }
}


@media (min-width:992px){
  .content{
    width : 50%;
  }
  .chart{
    width: 100%;
    height: 300px;
  }
}
@media (min-width:1280px){
  .content{
    width : 35%;
  }
  .chart{
    width: 100%;
    height: 350px;
  }
}
@media (min-width:1920px){
  .content{
    width : 30%;
  }
  .chart{
    width: 100%;
    height: 450px;
  }
}

