.footer{
  background : linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../../../coronavirus-COVID-19.jpg");  
  width : 100%;
  display : flex;    
  justify-content :center;
  align-items: flex-start;
  color : #fff;
  line-height : 2;
  text-align: left;
  padding: 3rem;
}

.sub_content > a{
  color : #ff8a05;
}
.sub_content > a:hover{
  color : #d16f00;
}


.left_side{
  flex-basis:  40%;
}
.right_side{
  flex-basis:  40%;
}

img{
  width : 50px;
  vertical-align: middle;
}


@media (max-width: 767px){
  .footer{
    padding : 2.5rem;
  }
}
@media (max-width: 500px){
  .footer{
    padding : 2rem;
  }
}


@media (min-width: 768px){
  .footer{
    padding : 3rem 3.5rem;
  }
}

@media (min-width: 992px){
  .footer{
    padding : 4rem 4.5rem;
    justify-content: center;
  }
}


@media (min-width: 1280px){
  .footer{
    padding : 4.5 6rem !important;
    justify-content: center;
  }
}

a{
  text-decoration: none;
}

.social_github > a{
  color : #f4f4f4;
}

.social_github > a:hover{
  color : rgba(170,170,170,.8);
}
